@{
    ViewData["Title"] = "Информация о сесии";
}
@model WorkplacesAccounting.Models.SessionModel;
<div class="SessionContainer">
    <h1 class="fancy">Информация о сессии #@Model.Session.ID</h1>
    <div class="InfoContainer">
        <div class="Row">
            <h3>Имя пользователя: </h3>
            <h5>@Model.Session.User.firstname @Model.Session.User.lastname</h5>
            <h3>Имя компьютера: </h3>
            <h5>@Model.Session.ComputerName</h5>
            <hr/>
            <h3>Дата начала: </h3>
            <h5>@Model.Session.StartTime</h5>
            <hr />
            <h3>Дата окончания: </h3>
            @{
                if(Model.Session.EndTime!="")
                {
                    <h5>@Model.Session.EndTime</h5>
                }
                else
                {
                    <h5>Не окончена</h5>
                }
            }
            <hr />
            <h3>Замечания: </h3>
            @{
                foreach (Observation curObservation in Model.ObservationsList)
                {
                    <h5>@curObservation.Data</h5>
                }
            }
            
            <hr />
                <div class="BtnContainer">
                    <form>
                        <input type="hidden" value="@Model.Session.ID" name="id"/>
                        <input class="RegButton" asp-controller="Session" asp-action="Test" value="Разлогинить" type="submit"/>
                        <button class="RegButton">Кнопка</button>
                        <button class="RegButton">Кнопка</button>
                    </form>
                    
                </div>

            
        </div>
        <div class="Row">
            <h3>Логи</h3>
            <ul class="tree">
                @{
                    var GroupingByTag = Model.Logs.OrderByDescending(x => x.Date).GroupBy(x => x.Tag);
                    // foreach (WorkplacesAccounting.Models.LogData curLog in Model.Logs.OrderBy(x =>x.Date))
                    foreach (var GroupByTag in GroupingByTag)
                    {
                        <li>
                            <details>
                                <summary>@GroupByTag.Key</summary>
                                <ul>
                                    @{
                                        var GroupingByDate = GroupByTag.GroupBy(x=>x.Date);
                                        foreach (var GroupByDate in GroupingByDate)
                                        {
                                            <li>
                                                <details>
                                                    <summary>@GroupByDate.Key</summary>
                                                    <ul>
                                                        @{
                                                            foreach (var log in GroupByDate)
                                                            {
                                                                if (log.Tag != "Processes")
                                                                {
                                                                    <li>@log.Data</li>
                                                                }
                                                                else
                                                                {
                                                                    <li>
                                                                    @{  foreach (string process in log.Data.Replace("[", "").Replace("]", "").Split(','))
                                                                        {
                                                                        <p>@process</p>
                                                                        }
                                                                    }
                                                                    </li>
                                                                }

                                                            }
                                                        }
                                                    </ul>
                                                </details>
                                            </li>
                                        }
                                        
                                    }
                                </ul>
                            </details>
                        </li>
                    }
                }
            </ul>
            
        </div>
    </div>
</div>