@model WorkplacesAccounting.Models.SessionModel
@using WorkplacesAccounting.Classes
<div class="SessionContainer">
    <h1 class="fancy">Информация о сессии #@Model.Session.ID</h1>
    <div class="InfoContainer">
        <div class="Row">
            <h3>Имя пользователя: </h3>
            <h5>@Model.Session.User.firstname @Model.Session.User.lastname</h5>
            <h3>Имя компьютера: </h3>
            <h5>@Model.Session.Computer.MachineName</h5>
            <hr/>
            <h3>Дата начала: </h3>
            <h5>@Model.Session.StartTime</h5>
            <hr />
            <h3>Дата окончания: </h3>
            @{
                if(Model.Session.EndTime!="")
                {
                    <h5>@Model.Session.EndTime</h5>
                }
                else
                {
                    <h5>Не окончена</h5>
                }
            }
            <hr />
            <h3>Замечания: </h3>
            @{
                foreach (Observation curObservation in Model.ObservationsList)
                {
                    <h5>@curObservation.Data</h5>
                }
            }
            
            <hr />
                <div class="BtnContainer">
                    <form>
                        <input type="hidden" value="@Model.Session.ID" name="id"/>
                        @{
                            if (String.IsNullOrEmpty(Model.Session.EndTime))
                            {
                                <input class="RegButton" asp-controller="Session" asp-action="Test" value="Закончить сессию" type="submit" />
                            }
                        }
                        
                        @* <button class="RegButton">Кнопка</button>
                        <button class="RegButton">Кнопка</button> *@
                    </form>
                    
                </div>
                <div>
                <h3>Таймлайн сессии: </h3>
                <div class="row">
                    <div class="col-md-12">
                        <!-- The time line -->
                        
                        <div class="timeline">
                            @{
                                foreach (LogData TimeLineItem in Model.Logs.Where(x=>x.Tag!="Processes"))
                                {
                                    <div>
                                        <i class="fas fa-user bg-green"></i>
                                        <div class="timeline-item">
                                            <span class="time"><i class="fas fa-clock"></i> 
                                            @{
                                                    string time = "";
                                                    if (Convert.ToInt32(DateTime.Now.Subtract(DateTime.Parse(TimeLineItem.Date)).TotalHours) < 1)
                                                    {
                                                        time = Convert.ToInt32(DateTime.Now.Subtract(DateTime.Parse(TimeLineItem.Date)).TotalMinutes).ToString() + " min.";
                                                    }
                                                    else
                                                    {
                                                        time = Convert.ToInt32(DateTime.Now.Subtract(DateTime.Parse(TimeLineItem.Date)).TotalHours).ToString() + " hours";
                                                    }
                                            }
                                                @time ago
                                            </span>
                                            <h3 class="timeline-header"><a href="#">@TimeLineItem.Session.User.firstname</a> --- </h3>
                                            <div class="timeline-body">
                                                @TimeLineItem.Data
                                            </div>
                                            
                                        </div>
                                    </div>
                                }
                            }
                            
                            
                            <div>
                                <i class="fas fa-clock bg-gray"></i>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                </div>

            
        </div>
        <div class="Row">
            <h3>Логи</h3>
            <ul class="tree">
                @{
                    var GroupingByTag = Model.Logs.OrderByDescending(x => x.Date).GroupBy(x => x.Tag);
                    foreach (var GroupByTag in GroupingByTag)
                    {
                        <li>
                            <details>
                                <summary>@GroupByTag.Key</summary>
                                <ul>
                                    @{
                                        var GroupingByDate = GroupByTag.GroupBy(x=>x.Date);
                                        foreach (var GroupByDate in GroupingByDate)
                                        {
                                            <li>
                                                <details>
                                                    <summary>@GroupByDate.Key</summary>
                                                    <ul>
                                                        @{
                                                            foreach (var log in GroupByDate)
                                                            {
                                                                if (log.Tag != "Processes")
                                                                {
                                                                    <li>@log.Data</li>
                                                                }
                                                                else
                                                                {
                                                                    <li>
                                                                    @{  foreach (string process in log.Data.Replace("[", "").Replace("]", "").Split(','))
                                                                        {
                                                                        <p>@process</p>
                                                                        }
                                                                    }
                                                                    </li>
                                                                }

                                                            }
                                                        }
                                                    </ul>
                                                </details>
                                            </li>
                                        }
                                        
                                    }
                                </ul>
                            </details>
                        </li>
                    }
                }
            </ul>
            
        </div>
    </div>
</div>
